{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="row">
        <div class="div_home col-9">
            <div class="left">
                <h1>Let's Buy Some <span>LPGraph</span></h1>
                <p>Lorem ipsum dolor sit amet, conosctur adipiscing elit. Itanque, equae harum. Nobis ipsam magni labore?</p>
                <a href="">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <span>Buy Now</span>
                </a>
            </div>
        </div>
        <div class="div_home col-3">
            <img src="{{ asset('images/riviste/rivista1.png') }}" alt="">
        </div>
    </div>
    
    
    
    <h2 class="separator">
        Sell Your NFTs
    </h2>
    <div class="sell-nft">
        <div class="item">
            <div class="header">
                <i class="fa-solid fa-wallet"></i>
                <h5>Connect Wallet</h5>
                <p>Lorem ipsum dolor sit amet, conosctur adipiscing elit. Itanque, equae harum. Nobis ipsam magni labore?</p>
            </div>
        </div>
    </div>
{% endblock %}