{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{# {% block header %}
    <nav>
        <a href="#" class="logo">LPProg</a>
        <div class="links">
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#">Blog</a>
            <a href="#">About us</a>
        </div>
        <div class="login">
            <button class="signup">Get Started</button>
            <button>Login</button>
        </div>
    </nav>

    <header>
        <div class="left">
            <h1>Let's Buy Some <span>LPGraph</span></h1>
            <p>Lorem ipsum dolor sit amet, conosctur adipiscing elit. Itanque, equae harum. Nobis ipsam magni labore?</p>
            <a href="">
                <i class="fa-solid fa-basket-shopping"></i>
                <span>Buy Now</span>
            </a>
        </div>
        <img src="{{ asset('images/riviste/rivista1.png') }}" alt="">
    </header>
{% endblock %} #}

{% block content %}
    <h2 class="separator">
        Sell Your NFTs
    </h2>
    <div class="sell-nft">
        <div class="item">
            <div class="header">
                <i class="fa-solid fa-wallet"></i>
                <h5>Connect Wallet</h5>
                <p>Lorem ipsum dolor sit amet, conosctur adipiscing elit. Itanque, equae harum. Nobis ipsam magni labore?</p>
            </div>
        </div>
    </div>
{% endblock %}