/* CLASSES */
.header-row .fbox-sm .fbox-icon { width: 1.25rem; height: 1.25rem }
.header-row .fbox-sm .fbox-icon i { position: relative; top: 1px; font-size: 1.25rem }
.header-shop-search input::-moz-placeholder { font-style: italic; opacity: .7; }
.header-shop-search input::-webkit-input-placeholder { font-style: italic; opacity: .7 }

/* MEDIA */
@media (min-width: 992px) {
	.header-misc-icon > a { width: 1.5rem; height: 1.5rem; font-size: 1.5rem; line-height: 1.5rem }
}